*.pyc
*.tmp
video_processor/*.log
video_processor/target
flash/*.swf
*.DS_Store
*~
vg_django/staticserve/
pip-log.txt
vg_django/uploads/*
dump-*.sql
vg_django/graphed_models.png
vg_django/settings/local.py
vg_django/docs/build
vg_django/vg.sqlite
*.mo
*/SoapboxLib.swc
flash/adunit/web/bin-debug/
flash/soapbox/soapbox_lib/bin/SoapboxLib.swc
build.hist
ga_token.dat
*.orig
